@using PLC_Management.Models.ResultModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Record.css" />

<div class="row">
    <div class="col-12" style="margin-top:25px;">
        <h1 style="text-align: center;">
            Kết Quả Thu Thập
        </h1>
    </div>

    <div class="col-12" style="margin-top:10px; margin-bottom:10px;">
        <div class="col-12" style="margin-bottom:10px;">
            <select>
                <option value="find_by_day">Lọc theo ngày</option>
            </select>
        </div>

        <form class="search col-12" method="get">
            <label for="tungay">Từ ngày </label>
            <input id="tungay" name="tungay" value=@ViewBag.tungay type="date" style="margin-right:40px;" />

            <label for="toingay">Tới ngày</label>
            <input id="toingay" value=@ViewBag.toingay name="toingay" type="date" style="margin-right:40px;" />

            <button type="submit" class="btn-primary btn">Lọc</button>
        </form>
    </div>



    <div class="col-12">

        <!--Table-->
        <table class="table table-striped " id="table">

            <!--Table head-->
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Parameter Name</th>
                    <th>ID</th>
                    <th>Unit</th>
                    <th>Date Time</th>
                    <th>Value</th>
                    <th>Status</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->



            <tbody>
                @{
                    int i = 0;
                }
                @foreach (Result result in ViewBag.listResults)
                {
                    int j = i + 1;
                    if (i % 2 == 0)
                    {
                        <tr class="table-info">
                            <th scope="row">@j</th>
                            <td>@result.Parameter_Name</td>
                            <td>@result.Parameter_ID</td>
                            <td>@result.Parameter_Unit</td>
                            <td>@result.Datetime</td>
                            <td>@result.Value</td>
                            <td>Unknown</td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th scope="row">@j</th>
                            <td>@result.Parameter_Name</td>
                            <td>@result.Parameter_ID</td>
                            <td>@result.Parameter_Unit</td>
                            <td>@result.Datetime</td>
                            <td>@result.Value</td>
                            <td>Unknown</td>
                        </tr>
                    }
                    i++;
                }

            </tbody>
            <!--Table body-->





        </table>

        <!--Table-->
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Trang trước</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link">
                        2
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Trang sau</a>
                </li>
            </ul>
        </nav>



        <div class="bottomPlace"
             style="width:100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: end;">
            <button class="btn-primary btn" id="btn-export">Xuất file excel</button>
        </div>

    </div>
</div>
<script src="./js/table2excel.js"></script>
<script>
    const table2excel = new Table2Excel();
    document.querySelector("#btn-export").addEventListener("click", () => {
        table2excel.export(document.querySelector("#table"));
    })
</script>
