@using PLC_Management.Models.ResultModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Record.css" />

<div class="row">
    <div class="col-12" style="margin-top:25px;">
        <h1 style="text-align: center;">
            Kết Quả Thu Thập
        </h1>
    </div>

    <div class="col-12" style="margin-top:10px; margin-bottom:10px;">
        <div class="col-12" style="margin-bottom:15px;">
            <select>
                <option value="find_by_day">Lọc theo ngày</option>
            </select>
        </div>

        <form class="search col-12" method="get">
            <div style="margin-bottom:15px;">
                <input id="pH" name="pH" @ViewBag.checkpH type="checkbox" />
                <label style="font-size:18px;font-weight:600;" for="pH">pH</label>
                <input id="Temp" name="Temp" @ViewBag.checkTemp type="checkbox" />
                <label style="font-size:18px;font-weight:600;" for="Temp">Temp</label>
                <input id="TSS" name="TSS" @ViewBag.checkTSS type="checkbox" />
                <label style="font-size:18px;font-weight:600;" for="TSS">TSS</label>
                <input id="COD" name="COD" @ViewBag.checkCOD type="checkbox" />
                <label style="font-size:18px;font-weight:600;" for="COD">COD</label>
            </div>
            <div>
                <label style="font-weight:500;" for="tungay">Từ ngày: </label>
                <input id="tungay" name="tungay" value=@ViewBag.tungay type="date" style="margin-right:40px;" />

                <label style="font-weight:500;" for="toingay">Tới ngày:</label>
                <input id="toingay" value=@ViewBag.toingay name="toingay" type="date" style="margin-right:40px;" />

                <button type="submit" style="padding-left:25px; padding-right:25px;" class="btn-primary btn">Lọc</button>
            </div>
        </form>
    </div>


    <div class="col-12">

        <!--Table-->
        <table class="table table-striped " id="table">

            <!--Table head-->
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Parameter Name</th>
                    <th>ID</th>
                    <th>Unit</th>
                    <th>Date Time</th>
                    <th>Value</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->



            <tbody>
                @{
                    int i = 0;
                }
                @foreach (Result result in ViewBag.listResults)
                {
                    int j = i + 1;
                    if (i % 2 == 0)
                    {
                        <tr class="table-info">
                            <th scope="row">@j</th>
                            <td>@result.Parameter_Name</td>
                            <td>@result.Parameter_ID</td>
                            <td>@result.Parameter_Unit</td>
                            <td>@result.Datetime</td>
                            <td>@result.Value</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th scope="row">@j</th>
                            <td>@result.Parameter_Name</td>
                            <td>@result.Parameter_ID</td>
                            <td>@result.Parameter_Unit</td>
                            <td>@result.Datetime</td>
                            <td>@result.Value</td>
                        </tr>
                    }
                    i++;
                }

            </tbody>
            <!--Table body-->





        </table>

        <!--Table-->
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                @for (int j = 1; j <= @ViewBag.countPage; j++)
                {
                    string link = @ViewBag.host + j;
                    if (j == 1)
                    {
                        <li id="first_item" class="page-item"><a class="page-link" href="./@link">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="./@link">@j</a></li>
                    }
                }
            </ul>
        </nav>



        <div class="bottomPlace"
             style="width:100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: end; margin-bottom:30px;">
            <button class="btn-primary btn" id="btn-export">Xuất file excel</button>
        </div>

    </div>
</div>
<script src="./js/table2excel.js"></script>
<script>
    const table2excel = new Table2Excel();
    document.querySelector("#btn-export").addEventListener("click", () => {
        table2excel.export(document.querySelector("#table"));
    })
</script>
<script src="~/js/Pagination.js"></script>


